.sans-serif {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.serif {
  font-family: 'Plantin Std Roman', Georgia, Cambria, Times New Roman, serif;
}

.decorated {
  font-family: 'Plantin Std Light Italic', Georgia, Cambria, Times New Roman, serif;
  font-style: italic;
}

body, input, select {
  @extend .sans-serif;

  color: $fg-clr;
  font-size: $base-font-size;
  line-height: 1.6em;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  line-height: 1em;
}
h2 {
  font-size: 2em;
  line-height: 1em;
}
h3 {
  @extend .decorated;
  font-size: 1.1em;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a.button:hover {
  text-decoration: none;
}

.inverted {
  color: $inv-fg-clr;
}

.title {
  h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
  }
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  // Extends the .visuallyhidden class to allow the element to be focusable
  // when navigated to via the keyboard: h5bp.com/p
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

// Hide text content visually.
.hide-text {
  display: inline-block;
  text-indent: -9999px;
}
