<section id="blocks">

  <header>
    <h2>Bekijk ook</h2>
  </header>

  <a href="#" class="block list" style="background-image: url(img/lists/10-mooiste-uitzichten.jpg);">
    <i class="shield shield-scenery"></i>
    <span>10 Mooiste<br/>Uitzichten</span>
  </a>

  <a href="#" class="block list" style="background-image: url(img/lists/lekkerste-kazen.jpg);">
    <i class="shield shield-food"></i>
    <span>Lekkerste<br/>Kazen</span>
  </a>

  <a href="#" class="block list" style="background-image: url(img/lists/5-hoogste-hangbruggen.jpg);">
    <i class="shield shield-sites"></i>
    <span>5 Hoogste<br/>Hangbruggen</span>
  </a>

</section>