<section id="blocks">

  <h2 class="section-header">Bekijk ook</h2>

  <a href="#" class="block list" style="background-image: url(img/lists/10-mooiste-uitzichten.jpg);">
    <i class="shield-mono shield-mono-scenery"></i>
    <span>10 Mooiste<br/>Uitzichten</span>
  </a>

  <a href="#" class="block list" style="background-image: url(img/lists/lekkerste-kazen.jpg);">
    <i class="shield-mono shield-mono-food"></i>
    <span>Lekkerste<br/>Kazen</span>
  </a>

  <a href="#" class="block list" style="background-image: url(img/lists/5-hoogste-hangbruggen.jpg);">
    <i class="shield-mono shield-mono-sites"></i>
    <span>5 Hoogste<br/>Hangbruggen</span>
  </a>

</section>