<section id="map">
  <div id="map-canvas"></div>
</section>

<script>

!function() {

  var PointsOfInterest = [
    {
      center: new google.maps.LatLng(46.2601315, 7.6073381),
      number: 1
    },
    {
      center: new google.maps.LatLng(46.1601315, 7.6273381),
      number: 2
    },
    {
      center: new google.maps.LatLng(46.3501315, 7.4073381),
      number: 3
    },
    {
      center: new google.maps.LatLng(46.5601315, 7.6073381),
      number: 4
    },
  ];

  var MapOptions  = {
    zoom: 8,
    center: new google.maps.LatLng(46.2601315, 7.6073381),
    scrollwheel: false,
    disableDoubleClickZoom: true,
    draggable: false,
    mapTypeControl: false,
    streetViewControl: false,
    scaleControl: false,
    zoomControl: false,
    panControl: false
  };

  var Map;
  var MapBounds;

  function initialize() {
    Map = new google.maps.Map(document.getElementById('map-canvas'), MapOptions);
    google.maps.event.addDomListener(Map, 'idle', calculateBounds);


    var shield = {
      path: 'M 0,2 C 4,0 16,0 20,2 L 20,10 C 20,16 20,22 10,26 C 0,22 0,16 0,10 z',
      fillColor: '#fff',
      fillOpacity: 1,
      scale: 1,
      strokeColor: '#333',
      strokeWeight: 2,
      anchor: new google.maps.Point(10, 26)
    };


    for (var i = 0; i < PointsOfInterest.length; i++) {
      var pointOfInterest = PointsOfInterest[i];

      var marker = new MarkerWithLabel({
        position:  pointOfInterest.center,
        icon:      shield,
        map:       Map,

        labelText: pointOfInterest.number.toString(),
        labelClass: 'shieldLabel',
        labelStyle: {top: "-26px", left: "-10px", width: "20px", textAlign: "center"},

        pointOfInterest: pointOfInterest
      });

      google.maps.event.addListener(marker, 'click', function () {
        var element = $('[data-point-of-interest="' + this.pointOfInterest.number + '"]');
        $(element).scrollintoview().effect('highlight');
      });
    }

    calculateBounds();
    setBounds();
  }

  function calculateBounds() {
    MapBounds = new google.maps.LatLngBounds();
    for (var i = 0; i < PointsOfInterest.length; i++) {
       MapBounds.extend(PointsOfInterest[i].center);
    }
  }
  function setBounds() {
    Map.fitBounds(MapBounds);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
  google.maps.event.addDomListener(window, 'resize', setBounds);

}();

</script>