<section id="points-of-interest">

  <ul>

    <li data-point-of-interest="1">
      <figure class="thumbnail">
        <img src="img/places/1.jpg" title="Grand-St-Bernard" />
      </figure>

      <div class="info">
        <div class="meta">
          <b class="shield">1</b>
          Slapen / Eco Lodges
        </div>

        <h2>Blokhut met uitzicht</h2>
        <h3>Grand-St-Bernard</h3>

        <figure class="inline-thumbnail">
          <img src="img/places/1.jpg" title="Grand-St-Bernard" />
        </figure>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet,
          consectetur adip... <a href="#">Meer</a>
        </p>
      </div>
    </li>

    <li data-point-of-interest="2">
      <figure class="thumbnail">
        <img src="img/places/2.jpg" title="Leukerbad" />
      </figure>

      <div class="info">
        <div class="meta">
          <b class="shield">2</b>
          Slapen / Wellness
        </div>

        <h2>Torenkamer</h2>
        <h3>Leukerbad</h3>

        <figure class="inline-thumbnail">
          <img src="img/places/2.jpg" title="Grand-St-Bernard" />
        </figure>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet,
          consectetur adip... <a href="#">Meer</a>
        </p>

        <div class="offer">
          Aanbieding: 1 nacht voor EURO 89,-
        </div>
      </div>
    </li>

    <li data-point-of-interest="3">
      <figure class="thumbnail">
        <img src="img/places/3.jpg" title="Saas-Fee" />
      </figure>

      <div class="info">
        <div class="meta">
          <b class="shield">3</b>
          Slapen / Eco Lodges
        </div>

        <h2>Romantisch</h2>
        <h3>Saas-Fee</h3>

        <figure class="inline-thumbnail">
          <img src="img/places/3.jpg" title="Grand-St-Bernard" />
        </figure>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet,
          consectetur adip... <a href="#">Meer</a>
        </p>
      </div>
    </li>

    <li data-point-of-interest="4">
      <figure class="thumbnail">
        <img src="img/places/4.jpg" title="Ernen" />
      </figure>

      <div class="info">
        <div class="meta">
          <b class="shield">4</b>
          Slapen / Kamperen
        </div>

        <h2>Één met de natuur</h2>
        <h3>Ernen</h3>

        <figure class="inline-thumbnail">
          <img src="img/places/4.jpg" title="Grand-St-Bernard" />
        </figure>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet,
          consectetur adip... <a href="#">Meer</a>
        </p>
      </div>
    </li>

  </ul>

</div>