<section id="points-of-interest">

  <ul>

    <li data-point-of-interest="1">
      <figure class="thumbnail">
        <img src="img/places/1.jpg" title="Blokhut met uitzicht" />
      </figure>

      <div class="info">
        <div class="meta">
          <b class="shield">1</b>
          Slapen / Eco Lodges
        </div>

        <h2>Blokhut met uitzicht</h2>
        <h3>Grand-St-Bernard</h3>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet,
          consectetur adip... Meer
        </p>
      </div>
    </li>

    <li data-point-of-interest="2">
      <figure class="thumbnail">
        <img src="img/places/2.jpg" title="Torenkamer" />
      </figure>

      <div class="info">
        <div class="meta">
          <b class="shield">2</b>
          Slapen / Wellness
        </div>

        <h2>Torenkamer</h2>
        <h3>Leukerbad</h3>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet,
          consectetur adip... Meer
        </p>
      </div>
    </li>

    <li data-point-of-interest="2">
      <figure class="thumbnail">
        <img src="img/places/2.jpg" title="Torenkamer" />
      </figure>

      <div class="info">
        <div class="meta">
          <b class="shield">2</b>
          Slapen / Wellness
        </div>

        <h2>Torenkamer</h2>
        <h3>Leukerbad</h3>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet,
          consectetur adip... Meer
        </p>
      </div>
    </li>

    <li data-point-of-interest="2">
      <figure class="thumbnail">
        <img src="img/places/2.jpg" title="Torenkamer" />
      </figure>

      <div class="info">
        <div class="meta">
          <b class="shield">2</b>
          Slapen / Wellness
        </div>

        <h2>Torenkamer</h2>
        <h3>Leukerbad</h3>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet,
          consectetur adip... Meer
        </p>
      </div>
    </li>

  </ul>

</div>