<section id="blocks">

  <a href="#" class="block list" style="background-image: url(img/lists/top-10-bistros.jpg);">
    <i class="shield shield-food"></i>
    <span>Top 10<br/>Bistros</span>
  </a>

  <a href="#" class="block list" style="background-image: url(img/lists/warmste-bakkers.jpg);">
    <i class="shield shield-food"></i>
    <span>De Warmste<br/>Bakkers</span>
  </a>

  <a href="#" class="block list" style="background-image: url(img/lists/eco-lodges.jpg);">
    <i class="shield shield-lodging"></i>
    <span>Eco Lodges</span>
  </a>

  <a href="#" class="block block-large list" style="background-image: url(img/lists/5-mooiste-haarspeldbochten.jpg);">
    <i class="shield shield-scenery"></i>
    <span>5 Mooiste<br/>Haarspeldbochten</span>
  </a>

  <div class="block banner">
    <span>Banner</span>
  </div>

  <a href="#" class="block list" style="background-image: url(img/lists/10-mooiste-uitzichten.jpg);">
    <i class="shield shield-scenery"></i>
    <span>10 Mooiste<br/>Uitzichten</span>
  </a>

  <a href="#" class="block list" style="background-image: url(img/lists/lekkerste-kazen.jpg);">
    <i class="shield shield-food"></i>
    <span>Lekkerste<br/>Kazen</span>
  </a>

  <a href="#" class="block list" style="background-image: url(img/lists/5-hoogste-hangbruggen.jpg);">
    <i class="shield shield-sites"></i>
    <span>5 Hoogste<br/>Hangbruggen</span>
  </a>

</section>