<header id="page-header" style="background-image: url(img/home-bg.jpg);">

  <a class="vh" href="#map">
    Sla navigatie over
  </a>

  <div class="overlay"></div>

  <div class="switzerland-logo">
    Zwitserland - Get Natural
  </div>

  <div class="grandtour-logo">
    Grand Tour
  </div>

  <nav class="social">
    <a href="#" class="facebook button" title="Volg ons op Facebook">
      <i class="icon-facebook"></i>
    </a>
    <a href="#" class="twitter button" title="Volg ons op Twitter">
      <i class="icon-twitter"></i>
    </a>
    <a href="#" class="google+ button" title="Volg ons op Google+">
      <i class="icon-google"></i>
    </a>
  </nav>

  <nav class="side-menu">
    <a href="#" class="button" title="Menu">
      <i class="icon-menu"></i>
    </a>
    <a href="#" class="button" title="Route">
      <i class="icon-route"></i>
      <span>Route</span>
    </a>
  </nav>

  <div class="content">

    <h1>Grand Tour</h1>
    <h2>Alle hotspots langs de route</h2>
    <p>
      Verbonden door 1600 kilometer van de mooiste Zwitserse wegen passeer je op de
      Grand Tour 19 betoverende meren, 5 spectaculaire bergpassen en 10
      Unesco-werelderfgoederen.
    </p>

    <select name="region">
      <option>Kies een regio...</option>
      <option>Wallis</option>
      <option>Graubünden</option>
      <option>Regio #3</option>
      <option>Regio #4</option>
    </select>

  </div>
</header>