<section id="map">

  <a class="vh" href="#page-header">
    Ga terug naar de pagina-header
  </a>

  <figure class="map">
    <img src="img/map.png" width="403" height="285" />
  </figure>

  <nav class="links">
    <div>
      <h2>De regio's</h2>

      <ul>
        <li>
          <a href="#" title="Graubünden">Graubünden</a>
        </li>
        <li>
          <a href="#" title="Berner Oberland">Berner Oberland</a>
        </li>
        <li>
          <a href="#" title="Wallis">Wallis</a>
        </li>
        <li>
          <a href="#" title="Ticino">Ticino</a>
        </li>
        <li>
          <a href="#" title="Luzern">Luzern</a>
        </li>
      </ul>
    </div>

    <div>
      <h2>Bekijk ook</h2>

      <ul>
        <li>
          <a href="#" title="De Grand Tour met de trein">De Grand Tour met de trein</a>
        </li>
      </ul>
    </div>

  </nav>

</section>