<header id="page-header" style="background-image: url({{ background_image }});">

  <a class="vh" href="#map">
    Sla navigatie over
  </a>

  <div class="overlay"></div>

  <nav class="menus">
    <a href="#" class="button" title="Menu">
      <i class="icon-menu"></i>
    </a>
    <a href="#" class="button" title="Route">
      <i class="icon-route"></i>
      <span>Route</span>
    </a>
  </nav>

  <div class="switzerland-logo">
    Zwitserland - Get Natural
  </div>

  <nav class="social">
    <a href="#" class="facebook button" title="Volg ons op Facebook">
      <i class="icon-facebook"></i>
    </a>
    <a href="#" class="twitter button" title="Volg ons op Twitter">
      <i class="icon-twitter"></i>
    </a>
    <a href="#" class="google-plus button" title="Volg ons op Google+">
      <i class="icon-google"></i>
    </a>
  </nav>

  {% block content %}
  {% endblock %}

  {% block bottom %}
  {% endblock %}
</header>