<footer id="related" style="background-image: url(img/home-footer-bg.jpg);">

  <div class="content">

    <span class="label">Bekijk ook</span>
    <h2>Grand Tour met de trein</h2>

    <p>
      Leun achterover en geniet! Ook
      met de trein reis je naar de
      mooiste plekken die zich langs
      de Grand tour bevinden.
    </p>

  </div>

</footer>