<!doctype html>

<html lang="nl">

  <head>
    <meta charset="utf-8">

    <title>Grand Tour</title>
    <meta name="author" content="Joost Lubach" />
    <meta name="description" content="Grand Tour - Ontdek Zwitserland" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/all.css?v1.0" />
    <link rel="stylesheet" href="icons/style.css?v1.0" />

    <script src="js/modernizr.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.scrollintoview.min.js"></script>

    {% block head %}
    {% endblock %}

    <script type="text/javascript">
        (function() {
            var path = '//easy.myfonts.net/v2/js?sid=213487(font-family=Plantin+Std+Roman)&sid=213493(font-family=Plantin+Std+Headline+Medium+Condensed)&sid=213499(font-family=Plantin+Std+Light)&sid=213501(font-family=Plantin+Std+SemiBold)&key=AdpVColSWm',
                protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
                trial = document.createElement('script');
            trial.type = 'text/javascript';
            trial.async = true;
            trial.src = protocol + path;
            var head = document.getElementsByTagName("head")[0];
            head.appendChild(trial);
        })();
    </script>
  </head>

  <body {% block body_attrs %}{% endblock %}>

    <div class="layout-column">
      {% block body %}
      {% endblock %}
    </div>

  </body>

</html>