<!doctype html>

<html lang="nl">

  <head>
    <meta charset="utf-8">

    <title>Grand Tour</title>
    <meta name="author" content="Joost Lubach" />
    <meta name="description" content="Grand Tour - Ontdek Zwitserland" />

    <link rel="stylesheet" href="css/all.css?v1.0" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>




  </body>

</html>