{% extends 'base.html.twig' %}

{% block body %}

  {% include 'pages/home/header.html.twig' %}

  <main>
    <div class="title">
      <h1>Ontdek de Grand Tour</h1>
      <h3>Een onvergetelijke rondreis door Zwitserland</h3>
    </div>

    {% include 'pages/home/map.html.twig' %}
    {% include 'pages/home/blocks.html.twig' %}
    {% include 'pages/home/related.html.twig' %}
  </main>

{% endblock %}