{% extends 'base.html.twig' %}

{% block head %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzVM5zR1A7EzWtL75TrzMZnBter3B3ZVk"></script>
  <script type="text/javascript" src="js/marker-with-label.min.js"></script>
{% endblock %}

{% block body_attrs %}id="page-wallis"{% endblock %}

{% block body %}

  {%
    embed 'pages/home/page_header.html.twig'
    with { background_image: 'img/wallis-header-bg.jpg' } only
  %}
    {% block content %}
      <select name="region" class="region">
        <option>Kies een regio...</option>
        <option selected>Wallis</option>
        <option>Graubünden</option>
        <option>Regio #3</option>
        <option>Regio #4</option>
      </select>

        <div class="content">
          <h1>Wallis</h1>
          <h2>Natuur, zon en wijn</h2>
          <p class="decorated">
            Uitdagende vierduizenders als Jungfrau en Matterhorn in zowel het noorden als
            het zuiden van het kanton, het prachtige en vruchtbare Rhônedal en de grootste
            gletsjer van Europa. Wallis blinkt van het natuurschoon.
          </p>
        </div>
    {% endblock %}

    {% block bottom %}
      <nav class="bottom sections">
        <a href="#" class="">
          <i class="shield40 shield40-scenery"></i>
          <span>Zien</span>
        </a>

        <a href="#" class="">
          <i class="shield40 shield40-food"></i>
          <span>Eten</span>
        </a>

        <a href="#" class="">
          <i class="shield40 shield40-sites"></i>
          <span>Doen</span>
        </a>

        <a href="#" class="selected">
          <i class="shield40 shield40-lodging"></i>
          <span>Slapen</span>
        </a>
      </nav>
    {% endblock %}
  {% endembed %}

  <main>
    <div class="side-by-side">
      <h2 class="section-header">Slapen</h2>

      {% include 'pages/wallis/map.html.twig' %}
      {% include 'pages/wallis/points_of_interest.html.twig' %}
    </div>

    <h2 class="section-header">Bekijk ook</h2>

    <div class="layout-center">
      {% include 'pages/wallis/blocks.html.twig' %}
    </div>

    {% include 'pages/home/related.html.twig' %}
  </main>

{% endblock %}