#page-header {

  @extend .inverted;

  background-size: cover;
  background-repeat: none;

  // Ensure aspect ratio of header image.
  padding-top: 59.4976452%;
  position: relative;

  .overlay {
    @include fill;
    background: rgba(black, 0.05);
  }

  .content {
    position: absolute;

    left: 80px;
    top: 25%;

    max-width: 21em;

    h1 {
      margin-bottom: 0.2em;
    }
    h2 {
      margin-bottom: 0.4em;
    }
    p {
      line-height: 1.1em;
      margin-bottom: 0.4em;
    }
  }

  .social {
    position: absolute;
    top: 0; right: emCalc(75px) + $small-space;

    a {
      @extend .iconic-button;
      display: block;
      float: left;
      padding: 0.8em 0.2em;
    }
  }

  .side-menu {
    position: absolute;

    top: 10%;
    left: 0;

    a {
      display: block;
      margin-bottom: 0.2em;
      width: 32px;
      background: $red;
      padding: 2px;

      font-size: 0.6em;
      font-weight: 400;
      text-align: center;
      i {
        font-size: 28px;
      }
      span {
        display: block;
        margin: -2px 0 2px;
      }
    }
  }

  .switzerland-logo {
    @extend .hide-text;

    position: absolute;
    top: 0; right: 0;
    width: emCalc(75px); height: emCalc(75px);
    background-size: cover;
    background-image: url(../img/switzerland-logo.png);
  }

  .grandtour-logo {
    @extend .hide-text;

    position: absolute;
    bottom: -20px; left: 50%;
    margin-left: -15px;
    width: emCalc(31px); height: emCalc(39px);
    background-size: cover;
    background-image: url(../img/grandtour-logo.png);
  }

  @include breakpoint(600px) {
    .content {
      font-size: 0.8em;
      top: 20%;
    }
  }

  @include breakpoint(400px) {
    .content {
      font-size: 0.7em;
      top: 15%;
    }

    .switzerland-logo {
      width: 50px; height: 50px;
    }
  }

}