#map {
  @include flex-row(flex-start);
  @include justify-content(center);

  padding: $huge-space;

  .map {
    margin-right: $huge-space;
  }

  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }

  ul {
    margin-bottom: $large-space;
  }
}