$block-width: 312px;
$block-height: 344px;
$blocks-width: $block-width * 3 + 4 * $huge-space;

#blocks {
  @include clearfix;

  width: $blocks-width;
  margin: 0 auto;
  padding-left: $huge-space;

  .section-header {
    margin-right: $huge-space;
  }

  .block {
    display: block;
    float: left;
    margin: 0 $huge-space $huge-space 0;

    width: $block-width;
    height: $block-height;
  }

  .banner {
    background: #ccc;

    @include flex-row;
    @include justify-content(center);

    @extend .inverted;
    span {
      @extend h2;
      @extend .decorated;

      display: block;
      text-align: center;
    }
  }

  .list {
    position: relative;

    background-size: cover;

    @include flex-row;
    @include justify-content(center);

    @extend .inverted;

    @extend .button;

    span {
      @extend h2;
      text-align: center;

      display: block;
      padding: $large-space;

      background-image: radial-gradient(rgba(black, 0.3), rgba(black, 0), rgba(black, 0));
    }
    &:hover span {
      background-image: radial-gradient(rgba($red, 0.3), rgba($red, 0), rgba($red, 0));
    }

    .shield-mono {
      position: absolute;
      top: $large-space; right: $large-space;
    }

    &:hover .shield-mono {
      @extend :hover;
    }

  }

  html.no-flexbox.no-flexboxlegacy & {
    .block {
      padding-top: 10%;
    }
  }

  .block-large {
    width: $block-width * 2 + $huge-space;
  }

  @include breakpoint($blocks-width) {
    width: $block-width * 2 + 3 * $huge-space;
  }
  @include breakpoint($block-width * 2 + 3 * $huge-space) {
    padding: 0 $huge-space;
    width: auto;

    .section-header {
      margin-right: 0;
    }

    .block {
      float: none;
      width: auto;
      margin: 0 0 $huge-space 0;
    }

    .block-large {
      width: auto;
    }
  }

}