#page-header {

  @extend .inverted;

  background-size: cover;
  background-position: center center;
  background-repeat: none;

  // Ensure aspect ratio of header image.
  padding-top: 59.4976452%;
  position: relative;

  // When the screen is wider, cap the height.
  @include breakpoint($layout-max-width-px, min) {
    padding-top: 0;
    height: $layout-max-width-px * .594976452;
  }

  margin-bottom: 2 * $huge-space;

  .overlay {
    @include fill;
    background: rgba(black, 0.15);
  }

  select.region {
    position: absolute;
    top: 10%;
    left: 80px;
  }

  .content {
    position: absolute;

    left: 80px;
    top: 25%;

    max-width: 21em;

    h1 {
      margin-bottom: 0.2em;
    }
    h2 {
      margin-bottom: 0.4em;
    }
    p {
      line-height: 1.1em;
      margin: 0.4em 0;
    }
  }

  .social {
    position: absolute;
    top: 0; right: 75px + $small-space;

    a {
      @extend .iconic-button;
      display: block;
      float: left;
      padding: 8px 2px;
    }

    a.facebook:hover {
      color: $facebook-blue;
    }
    a.twitter:hover {
      color: $twitter-blue;
    }
    a.google-plus:hover {
      color: $google-plus-red;
    }
  }

  .menus {
    position: absolute;

    top: 10%;
    left: 0;

    a {
      background: $red;
      display: block;
      margin-bottom: 2px;
      width: 32px;
      padding: 2px;
      line-height: 1em;

      font-size: 0.6em;
      font-weight: 400;
      text-align: center;
      i {
        font-size: 28px;
      }
      span {
        display: block;
        margin: -2px 0 2px;
      }

      &:hover {
        background: darken($red, 5%);
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: -20px;
    height: 40px;

    left: 0; right: 0;
    text-align: center;

    > :not(:last-child) {
      margin-right: 2 * $huge-space;
    }

    a {
      display: inline-block;
      color: black;
      text-align: center;

      i {
        display: block;
        font-size: 32px;
        margin: 0 auto;
      }
      &:hover {
        i { @extend :hover; }
      }
      &.selected {
        i { @extend .red; @extend :hover; }
        color: $red;
      }
      span {
        display: block;
        @extend .decorated;
      }
    }
  }

  .sections {
    // bottom: -30px;
  }

  .switzerland-logo {
    @extend .hide-text;

    position: absolute;
    top: 0; right: 0;
    width: 75px; height: 75px;
    background-size: cover;
    background-image: url(../img/switzerland-logo.png);
  }

  .grandtour-logo {
    @extend .hide-text;

    margin-left: -15px;
    width: 32px; height: 40px;
    background-size: cover;
    background-image: url(../img/grandtour-logo.png);
  }

  @include breakpoint(540px) {

    padding-top: 0;

    .content, select.region {
      position: relative;
      left: 0; right: 0;
      top: 0; bottom: 0;

      font-size: 0.9em;
    }

    .bottom {
      > :not(:last-child) {
        margin-right: $huge-space;
      }
    }

    select.region {
      margin: $large-space $large-space 0;
    }

    .menus {
      position: relative;
      background: $red;

      @include flex-row;

      height: 50px;

      a {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 2px;
      }
    }

    .content {
      padding: $huge-space $large-space #{2 * $huge-space};
      width: auto;
      max-width: none;
    }

    .social {
      padding: 8px 0;
      right: 50px + $small-space;
    }

    .switzerland-logo {
      width: 50px; height: 50px;
    }
  }

  html.no-flexbox.no-flexboxlegacy & {
    @include breakpoint(540px) {
      .menus {
        padding: 4px;
      }
    }
  }

  @include breakpoint($layout-min-width-px) {
    width: $layout-min-width-px;
  }

}