#page-header {

  @extend .inverted;

  background-size: cover;
  background-position: center center;
  background-repeat: none;

  // Ensure aspect ratio of header image.
  padding-top: 53.3751962%;
  position: relative;

  font-size: 1.45em;

  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 4 * $huge-space;

  .overlay {
    @include fill;
    background: rgba(black, 0.15);
  }

  select.region {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: inherit;
  }

  .content {
    position: absolute;

    left: 10%;
    top: 15%;

    max-width: 25em;

    h1 {
      margin-bottom: 0.2em;
    }
    h2 {
      font-size: 1.6em;
      margin-bottom: 0.4em;
    }
    p {
      line-height: 1.1em;
      margin: 0.4em 0;
    }
  }

  .social {
    position: absolute;
    top: 0; right: 15%;

    font-size: 1.2em;

    a {
      display: block;
      float: left;
      padding: $small-space 0.4em;
    }

    a.facebook:hover {
      color: $facebook-blue;
    }
    a.twitter:hover {
      color: $twitter-blue;
    }
    a.google-plus:hover {
      color: $google-plus-red;
    }
  }

  .menus {
    position: absolute;

    top: 10%;
    left: 0;

    a {
      background: $red;
      display: block;
      margin-bottom: 2px;
      width: 58px;
      padding: 2px;
      line-height: 1em;

      font-size: 0.6em;
      font-weight: 400;
      text-align: center;
      i {
        font-size: 50px;
      }
      span {
        display: block;
        margin: -2px 0 2px;
      }

      &:hover {
        background: darken($red, 5%);
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: -27px;
    height: 54px;

    left: 0; right: 0;
    text-align: center;

    font-size: 0.9em;

    > * {
      margin-right: 2 * $huge-space;
    }
    > :last-child {
      margin-right: 0;
    }

    a {
      display: inline-block;
      color: black;
      text-align: center;

      i {
        display: block;
        font-size: 32px;
        margin: 0 auto;
      }
      &:hover {
        i { @extend :hover; }
      }
      &.selected {
        i { @extend .red; @extend :hover; }
        color: $red;
      }
      span {
        display: block;
        @extend .decorated;
      }
    }
  }

  .switzerland-logo {
    @extend .hide-text;

    position: absolute;
    top: -6px; right: -6px;
    width: 11.77%; height: 22%;

    background: url(../img/switzerland-logo.png) no-repeat;
    background-size: cover;
    @include retina {
      background-image: url(../img/switzerland-logo@2x.png);
    }
  }

  .grandtour-logo {
    @extend .hide-text;

    width: 40px; height: 50px;

    background: url(../img/grandtour-logo.png) no-repeat;
    background-size: cover;
    @include retina {
      background-image: url(../img/grandtour-logo@2x.png);
    }
  }

  @include breakpoint(1000px) {
    font-size: 1.2em;
    .menus a {
      width: 50px;
      i {
        font-size: 43px;
      }
    }
  }

  @include breakpoint(600px) {
    font-size: 1em;
    .menus a {
      width: 41px;
      i {
        font-size: 36;
      }
    }
  }

  @include breakpoint(800px) {

    padding-top: 0;
    margin-top: 0; margin-right: 0;


    .content, select.region {
      position: relative;
      left: 0; right: 0;
      top: 0; bottom: 0;
    }

    .bottom {
      > * {
        margin-right: $large-space;
      }
      > :last-child {
        margin-right: 0;
      }
    }

    select.region {
      margin: $large-space $large-space 0;
    }

    .menus {
      position: relative;
      background: $red;

      height: 75px;

      a {
        @include flex-col;
        @include justify-content(center);
        height: 75px;

        float: left;

        margin-bottom: 0;
        margin-right: 2px;
      }
    }

    .content {
      padding: $huge-space $large-space #{2 * $huge-space};
      width: auto;
      max-width: none;
    }

    .social {
      padding: 14px 0;
      font-size: 24px;
      right: 75px + $small-space;
    }

    .switzerland-logo {
      top: 0; right: 0;
      width: 75px; height: 75px;
    }
  }

  html.no-flexbox.no-flexboxlegacy & {
    @include breakpoint(800px) {
      .menus a {
        padding: 12px 0;
      }
    }
  }

  // When the screen is wider, cap the height.
  @include breakpoint($layout-max-width-px, min) {
    padding-top: 0;
    height: $layout-max-width-px * .533751962;

    .switzerland-logo {
      width: 150px; height: 150px;
    }
  }

  @include breakpoint($layout-min-width-px) {
    width: $layout-min-width-px;
  }

}