#related {

  @extend .inverted;

  background-size: cover;
  background-position: center center;
  background-repeat: none;

  // Ensure aspect ratio of footer image.
  padding-top: 51.7268446%;
  position: relative;

  font-size: 1.4em;

  margin-right: 6px;
  margin-bottom: 6px;

  @include breakpoint($layout-min-width-px) {
    padding-top: 0;
    width: $layout-min-width-px;
    height: $layout-min-width-px * .517268446;
  }


  // When the screen is wider, cap the height.
  @include breakpoint($layout-max-width-px, min) {
    padding-top: 0;
    height: $layout-max-width-px * .517268446;
  }

  .content {
    position: absolute;
    top: 20%; left: 10%;
    max-width: 18em;

    .label {
      display: block;
      margin-bottom: 0.4em;
    }
    h2 {
      font-size: 2.4em;
      font-weight: 300;
      margin-bottom: 0.2em;
    }
    p {
      line-height: 1.2em;
    }

    background: $red;
    padding: $huge-space;
  }

  .label {
    @extend .decorated;
  }

  @include breakpoint(1000px) {
    font-size: 1.2em;
  }


  @include breakpoint(800px) {
    font-size: 1em;
  }

  @include breakpoint(600px) {
    margin-right: 0;
    margin-bottom: 0;

    .content {
      position: relative;
      left: auto; right: auto;
      width: auto;
      max-width: none;
    }
  }

}